@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;300;400;500;700&family=Roboto+Mono:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 12px;
}

p {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#firstnamePanel, #firstName, .generate-user-name, .sug-user p:first-of-type {
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

body {
  font-family: sans-serif;
  background-color: #E6ECF5;
}

img, input, svg {
  cursor: pointer;
}

a, svg path, svg rect {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

section {
  font-weight: 300;
  background-color: white;
  padding: 15px;
  border-radius: 3px;
}

section h2 {
  font-size: 1.5rem;
  color: #16223b;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

section h3 {
  font-size: 1.3rem;
  margin: 5px 0;
  line-height: 1.3rem;
}

button {
  height: 30px;
  width: 100px;
  background-color: transparent;
  margin-left: 40px;
}

button:hover {
  background-color: #3c70c9;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  padding: 0 10vw;
  background-color: #08A0D5;
}

nav #logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  padding-left: 0;
}

nav ul #user-portrait {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: capitalize;
  gap: 10px;
}

nav ul #user-portrait img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 80%;
  border-radius: 50px;
  border: 2px solid white;
  background-color: #cbdce9;
}

nav ul #user-portrait p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  cursor: pointer;
}

nav ul #user-portrait p:hover {
  color: #76cbec;
}

nav ul #signOutWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
}

nav ul #signOutWrapper a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav li {
  display: inline-block;
}

nav li p {
  display: inline-block;
  margin-left: 5px;
}

nav .nav-options {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav .nav-options a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

nav .nav-options a:hover {
  color: #90dfff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

nav .nav-options a:hover svg path {
  fill: #76cbec;
}

nav .nav-options a:hover svg rect {
  fill: #76cbec;
}

nav .nav-options svg {
  margin: 0 auto 5px auto;
  width: 20px;
  height: 20px;
  display: block;
}

nav svg {
  width: 20px;
  height: 20px;
}

nav #logo {
  position: relative;
  width: 50px;
  height: 50px;
}

nav #logo a {
  width: 100%;
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav #logo a p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  align-self: center;
  font-family: 'Lexend Exa', sans-serif;
}

nav #logo img {
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  min-width: 60px;
}

nav #signOutBtn {
  text-decoration: none;
  text-transform: uppercase;
  color: #b4c6cf;
}

nav #signOutBtn:hover {
  color: white;
}

h1 {
  text-align: center;
  font-size: 50px;
}

/*
.content{
    width: 100%;
    max-width: 1200px;
    //height: 500px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 50px;
    display: grid;
    grid-template-columns: auto 30%;
    grid-template-rows: 100px auto;
    column-gap: 50px;
    img{
        width: 200px;
        height: auto;
        grid-column: 2;
        grid-row: 1/3;
        //align-self:flex-end;
        margin: 0 auto 0 auto;
        border-radius: 10px;
    }
    h2{
        font-size: 40px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.151);
        grid-column: 1;
        grid-row: 1;
    }
    p{
        grid-column: 1;
        grid-row: 2;
    }
}
#home-container{
    margin: 0 10vw;
    .content:nth-child(1){
        margin-top: 50px !important;
    }
}
*/
#succesful-login {
  visibility: hidden;
}

#home-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 45% 25%;
      grid-template-columns: 25% 45% 25%;
  gap: 2.5%;
  padding: 5vh 10vw;
}

#home-grid .column-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-column: 1;
  grid-column: 1;
  row-gap: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#home-grid .column-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-column: 2;
  grid-column: 2;
  row-gap: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#home-grid .column-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-column: 3;
  grid-column: 3;
  row-gap: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#userpanel {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  padding: 0 !important;
  background-color: white !important;
}

#userpanel div:first-of-type {
  padding-bottom: 15px;
  width: 100%;
}

#userpanel div:first-of-type #career {
  color: grey;
  text-transform: capitalize;
}

#userpanel div:first-of-type #imagebumper {
  padding-top: 80px;
  position: relative;
}

#userpanel div:first-of-type #imagebumper #colorblock {
  background-color: #49A3CE;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-position-y: -50px;
  border-radius: 3px 3px 0 0;
  background-repeat: no-repeat;
  height: 110px;
  top: 0;
  left: 0;
  position: absolute;
}

#userpanel div:first-of-type #imagebumper img {
  z-index: 2;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 50px;
  background-color: #cbdce9;
}

#userpanel div:nth-of-type(2), #userpanel div:nth-of-type(3) {
  border: 1px solid white;
  width: 100%;
  padding: 15px 0;
  background-color: white;
}

#userpanel div:nth-of-type(2) p:first-of-type, #userpanel div:nth-of-type(3) p:first-of-type {
  font-weight: 300;
  color: grey;
}

#userpanel div:nth-of-type(2) p:last-of-type, #userpanel div:nth-of-type(3) p:last-of-type {
  font-weight: 700;
  font-size: 20px;
}

#userpanel div:nth-of-type(2) {
  border-top: 1px solid #dddddd;
}

#userpanel div:nth-of-type(3) {
  border-radius: 0 0 3px 3px;
}

#userpanel p {
  text-align: center;
}

#userpanel #firstnamePanel {
  margin: 8px auto;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 16px;
}

#suggestion .sug-user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px auto;
      grid-template-columns: 50px auto;
  -ms-grid-rows: 25px 25px;
      grid-template-rows: 25px 25px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: 20px 0;
  row-gap: 0;
}

#suggestion .sug-user p:first-of-type {
  color: black;
  font-weight: 700;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  cursor: pointer;
}

#suggestion .sug-user p:last-of-type {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#suggestion .sug-user img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

#suggestion2 img {
  width: 30px;
  height: 30px;
}

#suggestion2 a {
  font-size: 14px;
  color: black;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

#suggestion2 a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

#suggestion2 p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.column-2 .flex-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 15px;
}

.column-2 .flex-images img {
  margin-bottom: 15px;
}

.col-2 {
  position: relative;
}

.col-2 .timestamp {
  position: absolute;
  top: 15px;
  right: 15px;
}

.col-2 .createUpdate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  margin-bottom: 15px;
  padding: 85px 15px 15px 15px;
  position: relative;
}

.col-2 .createUpdate img {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  border: 3px solid white;
  position: relative;
  z-index: 2;
  background-color: #cbdce9;
}

.col-2 .createUpdate h2 {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.col-2 .createUpdate div {
  background-color: #65BBE6;
  border-radius: 3px 3px 0 0;
  height: 110px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.col-2 #updateOpt {
  margin: 10px 0;
}

.col-2 #updateOpt button:nth-child(3) {
  border: 0;
  color: #E6ECF5;
  background-color: #4d8dfc;
  float: right;
  border-radius: 0;
}

.col-2 #updateOpt button:nth-child(3):hover {
  background-color: #3c70c9;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.col-2 #updateOpt button:nth-child(1), .col-2 #updateOpt button:nth-child(2) {
  border: 0;
  border-radius: 0;
  color: #4d8dfc;
  margin-left: 0;
  font-weight: 700;
}

.col-2 #updateOpt button:nth-child(1):hover, .col-2 #updateOpt button:nth-child(2):hover {
  background-color: transparent;
  color: #3c70c9;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.col-2 textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 5px;
}

.col-2 textarea:focus {
  outline: none;
}

.col-2.createUpdateWrapper {
  padding: 0 0 15px 0 !important;
}

.col-2.createUpdateWrapper #createUpdateLower {
  padding: 0 15px;
}

.column-3 .col-3 h3 {
  cursor: pointer;
}

.column-3 .col-3 img {
  margin: 15px auto;
}

.generate-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  margin-bottom: 15px;
}

.generate-user h2 {
  margin-bottom: auto !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 0 !important;
  cursor: pointer;
}

.generate-user img {
  border-radius: 30px;
  width: 50px;
  height: 50px;
}

.section1x1 div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 15px;
}

.buttonOpt {
  border: 0;
  color: #E6ECF5;
  background-color: #4d8dfc;
  border-radius: 0;
  margin-left: 0;
  margin-top: 15px;
  float: right;
}

.buttonOpt button:nth-child(3):hover {
  background-color: #3c70c9;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.fName, .lName, .activeFullname {
  text-transform: capitalize;
}

footer {
  background-color: #08A0D5;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  row-gap: 20px;
  padding: 5vh 10vw;
  font-size: 14px;
  position: relative;
}

footer #foot-logo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

footer #foot-logo p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  font-family: 'Lexend Exa', sans-serif;
}

footer #foot-logo img {
  width: 40px;
  cursor: pointer;
}

footer #foot-copyright {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
  text-align: center;
  border-top: 1px solid #ffffff29;
  padding-top: 20px;
  color: #dddddd;
}

footer #foot-options {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

footer #foot-options ul {
  padding: 0;
}

footer #foot-options li {
  color: #dddddd;
  padding: 0 10px;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
}

footer #foot-options li:hover {
  color: white;
  padding: 0 10px;
  margin: 0;
}

footer ul {
  display: inline-block;
  margin: auto;
  padding: auto;
  float: right;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

#createUserContainer {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: #eafdff;
}

#createUserContainer #leftContainerImg {
  width: 100%;
  height: 100%;
  background-image: url("../images/image-from-rawpixel-id-2370026-jpeg (1).jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#createUserContainer #leftContainerImg img {
  width: 80%;
}

#createUserContainer section {
  width: 100%;
  height: 100%;
  background-color: #eafdff;
  padding: 20vh 2vw !important;
  max-width: 500px;
  margin-left: 50px;
}

#createUserContainer section h1 {
  padding: 0;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  color: #ff7600;
}

#createUserContainer section h2 {
  font-size: 2rem;
}

#createUserContainer section p:first-of-type {
  font-size: 1.2rem;
  margin: 15px 0;
  color: grey;
}

#createUserContainer section #createUserQuestions, #createUserContainer section #loginUserQuestions {
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 8px #c7ebf1;
          box-shadow: 2px 2px 8px #c7ebf1;
  background-color: white;
}

#createUserContainer section #createUserQuestions select, #createUserContainer section #loginUserQuestions select {
  width: 100%;
  border: none;
  border-radius: 0 0 0 10px;
  padding-right: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

#createUserContainer section #createUserQuestions select:focus, #createUserContainer section #loginUserQuestions select:focus {
  outline: none;
}

#createUserContainer section #createUserQuestions .info-wrapper:nth-child(1) input, #createUserContainer section #loginUserQuestions .info-wrapper:nth-child(1) input {
  border-radius: 10px 0 0 0;
}

#createUserContainer section #createUserQuestions #firstName, #createUserContainer section #loginUserQuestions #firstName {
  font-family: sans-serif;
}

#createUserContainer section #createsubmitBtn, #createUserContainer section .loginBtn {
  background-color: #4d8dfc;
  color: white;
  border: 0;
  margin: 20px 0;
  border-radius: 3px;
}

#createUserContainer section #createsubmitBtn:hover, #createUserContainer section .loginBtn:hover {
  background-color: #3c70c9;
}

#createUserContainer section .loginBtn {
  margin: 20px 0 20px 0;
}

#createUserContainer section #loginsubmitBtn {
  background-color: #e7e7e7;
  color: grey;
  border: 0;
  margin: 20px 10px 20px 0;
  border-radius: 3px;
}

#createUserContainer section #loginsubmitBtn:hover {
  background-color: #c9c9c9;
}

.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

.info-wrapper input, .info-wrapper select {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 40px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  border: 0;
  color: grey;
}

.info-wrapper input:focus {
  outline: 0;
  color: #a8a8a8;
  background-color: #d6edf1;
  border: 0;
}

.info-wrapper input:active, .info-wrapper input:visited {
  background-color: #daf2f7;
}

#loginUserQuestions input:last-of-type {
  border-radius: 0 0 0 10px;
}

#orSignUpBtn {
  background-color: #b8b8b8;
  color: white;
  margin: 0;
  border-radius: 3px;
  border: 0;
}

#orSignUpBtn:hover {
  background-color: #a1a1a1;
}

.active#login-invalidPassword {
  visibility: visible !important;
}

.createNewUser {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #3f475ca8;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: lightgrey;
}

.createNewUser .createNewUserContent {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 500px;
  border-radius: 20px;
  padding: 50px;
  color: lightgrey;
}

.createNewUser .createNewUserContent p {
  text-align: center;
  color: grey;
}

.createNewUser .createNewUserContent #btnholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.createNewUser .btnMold {
  border-radius: 3px;
  border: 0;
  margin: 20px 0;
  font-size: 14px;
}

.createNewUser .primaryBtn {
  background-color: #4d8dfc;
  color: white;
}

.createNewUser .primaryBtn:hover {
  background-color: #3c70c9;
}

.createNewUser .secondaryBtn {
  color: #b4b4b4;
}

.createNewUser .secondaryBtn:hover {
  background-color: transparent !important;
  color: grey;
}

.createNewUser p {
  font-size: 16px;
}

.invalidIcon {
  width: 20px;
  margin-right: 10px;
  margin-left: 5px;
  visibility: hidden;
}

.invalidText {
  color: #D75A4A !important;
  visibility: hidden;
}

.showinvalid.invalidText, .showinvalid.invalidIcon {
  visibility: visible !important;
}

.show#new-create-wrapper {
  visibility: visible !important;
}

.show.createNewUser {
  visibility: visible !important;
}

#hamburger-wrapper {
  display: none;
  width: 30px;
  height: 29px;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

#hamburger-wrapper #hamburger-btn {
  width: 28px;
  height: 3px;
  background-color: white;
  margin-top: 5px;
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#hamburger-wrapper.open div:nth-child(1) {
  background-color: red;
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#hamburger-wrapper.open div:nth-child(2) {
  background-color: transparent !important;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#hamburger-wrapper.open div:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media only screen and (max-width: 1100px) {
  #createUserContainer section {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  #home-grid {
    -ms-grid-columns: 40% auto !important;
        grid-template-columns: 40% auto !important;
    -ms-grid-rows: auto auto !important;
        grid-template-rows: auto auto !important;
    -webkit-column-gap: 2.5%;
            column-gap: 2.5%;
    row-gap: 0;
  }
  #home-grid .column-1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #home-grid .column-2 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #home-grid .column-3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  #createUserContainer {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 300px auto;
        grid-template-rows: 300px auto;
  }
  #createUserContainer section {
    margin: auto;
    padding: 8vh 0 0 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  #home-grid {
    padding: 5vh 5vw;
    -webkit-column-gap: 2.5%;
            column-gap: 2.5%;
    row-gap: 0;
  }
  #nav-options-wrapper {
    right: -50vw;
    width: 50vw;
    height: 100vh;
    position: fixed;
    background: #272727;
    display: block;
    margin: 0;
    z-index: 5;
    top: 0;
    padding: 15vh 0 0 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #nav-options-wrapper li {
    visibility: hidden;
    opacity: 0;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 15px 10px !important;
    cursor: pointer;
  }
  #nav-options-wrapper li a {
    letter-spacing: 2px;
  }
  #nav-options-wrapper li:not(:last-child) {
    border-bottom: 1px solid #3c3c3c;
  }
  #nav-options-wrapper li:hover {
    border-bottom: 1px solid white;
    -webkit-transition: border-bottom .1s ease-in-out !important;
    transition: border-bottom .1s ease-in-out !important;
  }
  #nav-options-wrapper li:hover a {
    color: white;
  }
  #hamburger-wrapper {
    display: block !important;
    z-index: 6;
  }
  #na-options-wrapper {
    visibility: hidden;
  }
  .show#nav-options-wrapper {
    visibility: visible;
    right: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .show#nav-options-wrapper li {
    visibility: visible;
    opacity: 1;
    right: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  .show#nav-options-wrapper li:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .show#nav-options-wrapper li:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .show#nav-options-wrapper li:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .show#nav-options-wrapper li:nth-child(4) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
}

@media only screen and (max-width: 600px) {
  #home-grid {
    padding: 5vh 0;
    display: block;
  }
  #home-grid .column-1 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    row-gap: 0;
    margin-bottom: 5vh;
  }
  #home-grid .column-1 #suggestion, #home-grid .column-1 #suggestion2 {
    display: none;
  }
  #home-grid .column-2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    margin-bottom: 5vh;
  }
  #home-grid .column-3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  #createUserContainer section {
    width: 100%;
    max-width: none !important;
    padding: 5vh 0 0 0 !important;
    margin: 0;
  }
  #createUserContainer section .info-wrapper input, #createUserContainer section #loginUserQuestions {
    border-radius: 0;
  }
  #createUserContainer h1, #createUserContainer h2, #createUserContainer p, #createUserContainer button {
    margin-left: 15px !important;
  }
  #createUserQuestions, #createUserQuestions input, #avatar, #email {
    border-radius: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */